## Import data

In [1]:
import pandas as pd
import numpy as np
title= pd.read_excel('Title_Defect_Dataset.xlsx')
title.head()

,Property_ID,StatusOwnerOccupiedFlag,TaxAssessedValueTotal,TaxAssessedImprovementsPerc,TaxMarketValueTotal,TaxMarketImprovementsPerc,AreaBuilding,BedroomsCount,StoriesCount,DeckFlag,...,X_PERC_CForeclosure,X_PERC_CDerogatory,X_PERC_CBankruptcy,X_PERC_MDPD60,X_PERC_MForeclosure,X_PERC_MDerogatory,X_PERC_MBankruptcy,X_Bankruptcy_Index,X_Risk_Score,X_Vantage_Score
0,244558691,NaN,18500.0,0.0,18450.0,NaN,1716,4,2.0,0.0,...,11.0,11.0,0.0,11.0,11.0,11.0,0.0,287.0,727.0,817.0
1,168532803,1.0,110000.0,90.0,183333.0,NaN,1192,3,1.0,0.0,...,0.0,16.0,0.0,3.0,0.0,3.0,0.0,295.0,744.0,825.0
2,170243135,1.0,190000.0,81.0,316667.0,NaN,3484,3,2.0,0.0,...,0.0,16.0,0.0,3.0,0.0,3.0,0.0,295.0,744.0,825.0
3,50276190,1.0,191000.0,91.0,318333.0,NaN,2400,4,1.0,0.0,...,0.0,16.0,0.0,3.0,0.0,3.0,0.0,295.0,744.0,825.0
4,38057038,1.0,110000.0,75.0,183333.0,NaN,1200,3,1.0,0.0,...,0.0,16.0,0.0,3.0,0.0,3.0,0.0,295.0,744.0,825.0

In [2]:
data = title[['TaxAssessedValueTotal',
       'TaxMarketValueTotal', 'dr_Title_Defect_Ind', 'dr_MktValueToIncome',
       'dr_Condo_Ind', 'dr_Ownership_Period', 'dr_House_Age',
       'dr_Value_Change', 'X_PERC_CDPD60', 'X_PERC_CForeclosure',
       'X_PERC_CDerogatory', 'X_PERC_CBankruptcy', 'X_PERC_MDPD60', 'X_PERC_MBankruptcy',
       'X_Bankruptcy_Index', 'X_Risk_Score', 'X_Vantage_Score']]
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500250 entries, 0 to 500249
Data columns (total 17 columns):
TaxAssessedValueTotal    500173 non-null float64
TaxMarketValueTotal      500173 non-null float64
dr_Title_Defect_Ind      500250 non-null int64
dr_MktValueToIncome      496926 non-null float64
dr_Condo_Ind             500250 non-null int64
dr_Ownership_Period      361899 non-null float64
dr_House_Age             447048 non-null float64
dr_Value_Change          500250 non-null object
X_PERC_CDPD60            454631 non-null float64
X_PERC_CForeclosure      454631 non-null float64
X_PERC_CDerogatory       454631 non-null float64
X_PERC_CBankruptcy       454631 non-null float64
X_PERC_MDPD60            454631 non-null float64
X_PERC_MBankruptcy       454631 non-null float64
X_Bankruptcy_Index       454631 non-null float64
X_Risk_Score             454631 non-null float64
X_Vantage_Score          454631 non-null float64
dtypes: float64(14), int64(2), object(1)
memory usage: 64.9+ MB

## Data Cleaning

In [3]:
#Replacing INC, DEC, NC with integers
data.replace(to_replace=['INC','DEC','NC'], value= [1,-1,0], inplace=True)

/Users/fanyaweng/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4042: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  method=method)

## Impute missing value

In [4]:
import pandas as pd
import sklearn.preprocessing

trainingData = data.iloc[:, :].values
data_1 = data.iloc[:, :].values


from sklearn.impute import SimpleImputer 
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

# return the col# that has NaN values:
index=[]
for m in range(len(list(data))):
    if data.iloc[:, m].isna().sum() != 0:
        index.append(m)

#impute
for i in range(17):
    imputer = imputer.fit(trainingData[:, i:(i+1)])
    data_1[:, i:(i+1)] = imputer.transform(data_1[:, i:(i+1)])

In [5]:

for m in range(17):   
    data_1 = pd.DataFrame(data_1).rename(columns={m: list(data)[m]})

revised_data = pd.DataFrame(data_1)
revised_data.info()
# list(data)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500250 entries, 0 to 500249
Data columns (total 17 columns):
TaxAssessedValueTotal    500250 non-null float64
TaxMarketValueTotal      500250 non-null float64
dr_Title_Defect_Ind      500250 non-null float64
dr_MktValueToIncome      500250 non-null float64
dr_Condo_Ind             500250 non-null float64
dr_Ownership_Period      500250 non-null float64
dr_House_Age             500250 non-null float64
dr_Value_Change          500250 non-null float64
X_PERC_CDPD60            500250 non-null float64
X_PERC_CForeclosure      500250 non-null float64
X_PERC_CDerogatory       500250 non-null float64
X_PERC_CBankruptcy       500250 non-null float64
X_PERC_MDPD60            500250 non-null float64
X_PERC_MBankruptcy       500250 non-null float64
X_Bankruptcy_Index       500250 non-null float64
X_Risk_Score             500250 non-null float64
X_Vantage_Score          500250 non-null float64
dtypes: float64(17)
memory usage: 64.9 MB

In [6]:
revised_data.head()

,TaxAssessedValueTotal,TaxMarketValueTotal,dr_Title_Defect_Ind,dr_MktValueToIncome,dr_Condo_Ind,dr_Ownership_Period,dr_House_Age,dr_Value_Change,X_PERC_CDPD60,X_PERC_CForeclosure,X_PERC_CDerogatory,X_PERC_CBankruptcy,X_PERC_MDPD60,X_PERC_MBankruptcy,X_Bankruptcy_Index,X_Risk_Score,X_Vantage_Score
0,18500.0,18450.0,0.0,0.22,0.0,0.00000,118.0,1.0,11.0,11.0,11.0,0.0,11.0,0.0,287.0,727.0,817.0
1,110000.0,183333.0,0.0,2.30,0.0,10.41382,33.0,0.0,19.0,0.0,16.0,0.0,3.0,0.0,295.0,744.0,825.0
2,190000.0,316667.0,0.0,3.98,0.0,19.00000,18.0,0.0,19.0,0.0,16.0,0.0,3.0,0.0,295.0,744.0,825.0
3,191000.0,318333.0,0.0,4.00,0.0,0.00000,39.0,-1.0,19.0,0.0,16.0,0.0,3.0,0.0,295.0,744.0,825.0
4,110000.0,183333.0,0.0,2.30,0.0,14.00000,12.0,0.0,19.0,0.0,16.0,0.0,3.0,0.0,295.0,744.0,825.0

## Models

In [7]:
#Create x and y for training
y = revised_data['dr_Title_Defect_Ind']
X = revised_data[['dr_MktValueToIncome', 'dr_Condo_Ind', 'dr_Ownership_Period', 'dr_House_Age']]

X.head()

   dr_MktValueToIncome  dr_Condo_Ind  dr_Ownership_Period  dr_House_Age
0                 0.22           0.0              0.00000         118.0
1                 2.30           0.0             10.41382          33.0
2                 3.98           0.0             19.00000          18.0
3                 4.00           0.0              0.00000          39.0
4                 2.30           0.0             14.00000          12.0

In [8]:
#Train test split

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [9]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)

StandardScaler()

## SMOTE balance train set

In [10]:
from imblearn.combine import SMOTETomek

smt = SMOTETomek()
X_smt, y_smt = smt.fit_sample(X, y)
X_train_smt, X_test_smt, y_train_smt, y_test_smt = train_test_split(X_smt, y_smt, random_state=42)

In [11]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(X_train_smt)

StandardScaler()

In [12]:
X_train_smt.info()
X_test_smt.info()
y_train_smt

<class 'pandas.core.frame.DataFrame'>
Int64Index: 740943 entries, 958983 to 121958
Data columns (total 4 columns):
dr_MktValueToIncome    740943 non-null float64
dr_Condo_Ind           740943 non-null float64
dr_Ownership_Period    740943 non-null float64
dr_House_Age           740943 non-null float64
dtypes: float64(4)
memory usage: 28.3 MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 246981 entries, 490259 to 18599
Data columns (total 4 columns):
dr_MktValueToIncome    246981 non-null float64
dr_Condo_Ind           246981 non-null float64
dr_Ownership_Period    246981 non-null float64
dr_House_Age           246981 non-null float64
dtypes: float64(4)
memory usage: 9.4 MB

958983    1.0
318598    0.0
99371     0.0
268258    0.0
94725     0.0
544737    1.0
503723    1.0
37418     0.0
774607    1.0
668323    1.0
710711    1.0
925891    1.0
638431    1.0
38980     0.0
741475    1.0
842153    1.0
826391    1.0
692614    1.0
785943    1.0
245601    0.0
56074     0.0
795053    1.0
537550    1.0
474394    0.0
731048    1.0
776733    1.0
30168     0.0
231065    0.0
242394    0.0
40251     0.0
         ...
235796    0.0
103355    0.0
791743    1.0
199041    0.0
776997    1.0
327069    0.0
718315    1.0
321879    0.0
787201    1.0
64820     0.0
329365    0.0
41090     0.0
278167    0.0
191335    0.0
175203    0.0
912756    1.0
899159    1.0
87498     0.0
954698    1.0
521430    1.0
137337    0.0
54886     0.0
732180    1.0
110268    0.0
644167    1.0
259178    0.0
365838    0.0
131932    0.0
671155    1.0
121958    0.0
Name: dr_Title_Defect_Ind, Length: 740943, dtype: float64

## Probability

In [13]:
# KNN with 100 n_neighbors

from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=100)
knn.fit(X_train, y_train)

knn.predict_proba(X_test)[0:10,1]

array([0.01, 0.  , 0.  , 0.01, 0.  , 0.  , 0.01, 0.  , 0.01, 0.03])

## User Interface

In [21]:
from tkinter import *

In [22]:
root = Tk()
root.title("Spruce Premium Calculator")
root.iconphoto(False, PhotoImage(file='Spruce_icon.png'))
root.geometry("720x720+0+0")

''

In [23]:
heading = Label(root, text="THANKS FOR CHOOSING SPRUCE INSURANCE!",
                font=("arial", 28, "bold"), fg="limegreen").place(x=20, y=30)

Label1 = Label(root, text="Enter your house's market value: ", 
               font=("arial", 20, "bold"), fg="black").place(x=10, y=100)

Label2 = Label(root, text="Enter your annual income: ", 
               font=("arial", 20, "bold"), fg="black").place(x=10, y=170)

Label3 = Label(root, text="Enter 1 if your house is a condo, 0 otherwise: ", 
               font=("arial", 20, "bold"), fg="black").place(x=10, y=240)

Label4 = Label(root, text="Enter ownership years: ", 
               font=("arial", 20, "bold"), fg="black").place(x=10, y=310)

Label5 = Label(root, text="Enter house age: ", 
               font=("arial", 20, "bold"), fg="black").place(x=10, y=380)

Label6 = Label(root, text="Enter your prefered insurance face amount: ", 
               font=("arial", 20, "bold"), fg="black").place(x=10, y=450)

In [24]:
ans1 = StringVar()
e1 = Entry(root, textvariable = ans1, width=25, bg="lightgrey").place(x=10, y=130)

ans2 = StringVar()
e2 = Entry(root, textvariable = ans2, width=25, bg="lightgrey").place(x=10, y=200)

ans3 = StringVar()
e3 = Entry(root, textvariable = ans3, width=25, bg="lightgrey").place(x=10, y=270)

ans4 = StringVar()
e4 = Entry(root, textvariable = ans4, width=25, bg="lightgrey").place(x=10, y=340)

ans5 = StringVar()
e4 = Entry(root, textvariable = ans5, width=25, bg="lightgrey").place(x=10, y=410)

ans6 = StringVar()
e4 = Entry(root, textvariable = ans6, width=25, bg="lightgrey").place(x=10, y=480)

In [25]:
def myClick():
    num1 = int(ans1.get())
    num2 = int(ans2.get())
    num3 = int(ans3.get())
    num4 = int(ans4.get())
    num5 = int(ans5.get())
    num6 = int(ans6.get())
    
    # multiple rating factor for market value
    if num1 <= 50000:
        num1 = num1 * 1.35
    elif num1 <= 100000:
        num1 = num1 * 1.23
    elif num1 <= 150000:
        num1 = num1 * 1.00
    elif num1 <= 200000:
        num1 = num1 * 0.93
    elif num1 <= 1000000:
        num1 = num1 * 0.84
    else:
        num1 = num1 * 1.29

    # multiple rating factor for income
    if num2 <= 30000:
        num2 = num2 * 1.26
    elif num2 <= 60000:
        num1 = num1 * 1.18
    elif num2 <= 90000:
        num2 = num2 * 1.00
    else:
        num2 = num2 * 0.86
        
    # multiple rating factor for ownership period
    if num4 <= 5:
        num4 = num4 * 1.07
    elif num4 <= 10:
        num4 = num4 * 1.12
    elif num4 <= 15:
        num4 = num4 * 1.00
    elif num4 <= 20:
        num4 = num4 * 0.93
    
    # multiple rating factor for house age
    if num5 <= 50:
        num5 = num5 * 0.76
    elif num5 <= 100:
        num5 = num5 * 1.00
    elif num5 <= 200:
        num5 = num5 * 1.46
    else:
        num5 = num5 * 1.27

    # calculate prob    
    user_input = pd.DataFrame([[num1/num2, num3, num4, num5]], 
                              columns = ['dr_MktValueToIncome', 'dr_Condo_Ind', 
                                         'dr_Ownership_Period', 'dr_House_Age'])
    
    prob = knn.predict_proba(user_input)[:,1][0]
    
    # adjust predicted 0 probability
    if prob == 0:
        prob = 0.006789
    
    result = "Based on your house's information, your calculated premium is ${0:.2f}".format(prob*num6*0.99*1.02)

    Label7 = Label(root, text=result, 
               font=("arial", 20, "bold"), fg="black").place(x=10, y=600)

In [26]:
myButton = Button(root, text="Get quote!", command=myClick).place(x=300, y=550)
# button_quit = Button(root, text="Exit", command=root.quit).place(x=300, y=650)
# myButton.pack()

In [27]:
root.mainloop()